/* azhar add new css here */
ol, ul {
    font-family: 'Open Sans'; 
}

/* Home page css start */
.brandsHolder .brandsBlock {
	position: relative;
}
.brandsHolder .brandsBlock .item {
	border: 1px solid #ccc;
    border-radius: 3px;
    padding: 15px;
}
.brandsHolder .brandsBlock .item img {
	width: auto;
    height: auto;
    max-height: 80px;
}
.brandsHolder .brandsBlock .owl-nav button {
  position: absolute;
  top: 50%;
  color: #808080 !important;
}
.brandsHolder .brandsBlock .owl-nav button:hover {
	background-color: transparent;
}
.brandsHolder .brandsBlock .owl-nav button:focus {
	outline: none;
}
.brandsHolder .brandsBlock .owl-nav i {
	font-size: 52px;
}
.brandsHolder .brandsBlock .owl-nav .owl-prev {
	left: -30px;
}
.brandsHolder .brandsBlock .owl-nav .owl-next {
	right: -30px;
}
.brandsHolder .brandsBlock .owl-carousel .owl-dots .owl-dot.active span {
    background: #1b9ce3;
}
.brandsHolder .brandsBlock .owl-carousel .owl-dots .owl-dot.active {
    background: transparent;
}
.brandsHolder .brandsBlock .owl-carousel .owl-dots .owl-dot {
    background: transparent;
}
/* Home page css start */

/* team page css start */
.teamHolder .container {
	max-width: 750px;
}
.teamHolder .card {
	max-width: 320px;
    margin: auto;
}
.teamHolder .card .card-img-block {
	position: relative;
	overflow: hidden;
}
.teamHolder .card .card-img-block .card-member-desc {
	background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    color: #fff;
    display: block;
    overflow: hidden;
    padding: 15px 10px;
    transition: all 0.3s ease 0s;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -150px;
}
.teamHolder .card:hover .card-img-block .card-member-desc {
	bottom: 0;
}
.teamHolder .card .card-img-block .card-member-desc h2 {
	color: #fff;
	font-size: 25px;
}
.teamHolder .card .card-img-block .card-member-desc p {
	font-size: 14px;
    margin-bottom: 0px;
}
.teamHolder .card .card-body .social-group li {
	margin: 0;
}
.teamHolder .card .card-body .social-group li a {
	width: 30px;
    height: 30px;
    margin: 0 5px;
    border: 1px solid #ddd;
    color: #626262;
    display: inline-block;
}
.teamHolder .card .card-body .social-group li a:hover {
	color: #fff;
	background-color: #000;
}
/* team page css end */


.ticker-title2 {
    padding-top: 10px;
    font-size: 16px;
    width: 30%;
}
.ticker-text2 {
    width: 70%;
    text-align: left;
    padding-left: 10px;
}
.ticker-text {
    padding-top: 15px;
    padding-bottom: 7px;
    font-size: 15px;
    color: #122d54;
    width: 70%;
    float: right;
    font-family: 'Open Sans';
}

/*header css stat*/
header  {
    position: sticky;
    width: 100%;
    z-index: 999;
    top: 0;
    background-color: #fff;
    border-bottom: 2px solid #1a9ce3;
}
header .bg-light {
    background: transparent !important;
}
header .navbar {
    padding: 8px 0;
}
header .navbar-light .navbar-nav .nav-item.active .nav-link {
    border-bottom: 2px solid #1a9ce3;
}
header .navbar-light .navbar-nav .nav-item:hover .nav-link {
    border-bottom: 2px solid #333;
    color: #000;
}
header .navbar-light .navbar-nav .nav-link {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    padding: 4px 0;
    margin: 5px 8px;
}
header .navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}
header .navbar-brand img {
    width: 100%;
    max-width: 240px;
}
/*header css ends*/


.strip {
    background:#0d1128;
    padding: 0px 15px;
    color: #fff;
    display: inline-block;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 14px;
}
.stripMain {
    display: flex;
    justify-content: space-between;
}
.strip .btn-account {
    background-color: #1a9ce3;
    padding: 4px 12px;
    font-size: 14px;
    border: 0px solid;
    color: #fff;
    text-transform: uppercase;
}
@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  .strip   .blink{
      text-decoration: blink;
      -webkit-animation-name: blinker;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:ease-in-out;
      -webkit-animation-direction: alternate;
  }
.strip .contact-stipt ul {
    margin: 0;
    padding: 4px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.strip .contact-stipt ul li {
    margin-right: 10px;
}
.indicator {
    display: none;
}
.test {
    color: pink;
}