@font-face {
  font-family: 'ColumbiaSans-Regular';
  src: url('ColumbiaSans-Regular.eot');
  src: url('ColumbiaSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('ColumbiaSans-Regular.svg#ColumbiaSans-Regular') format('svg'),
       url('ColumbiaSans-Regular.ttf') format('truetype'),
       url('ColumbiaSans-Regular.woff') format('woff'),
       url('ColumbiaSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

